<div class="panel panel-default testPaper-from">
    <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Dashboard</h4>
    </div>						
    <!-- Add edit form start-->
    <div id="content-2" class="panel-body commonscroll mCustomScrollbar light" data-mcs-theme="minimal-dark">
        <div class="row">

        </div>					
    </div>
    <!-- Add edit form end -->
    <div class="panel-footer">
        <div class="button-panel text-right">
            
        </div>
    </div>		
</div>