<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
    var app = angular.module('App1', []);
    app.controller('Ctrl1', function($scope) {
        $scope.cars = [
            {model : "Ford Mustang", color : "red"},
            {model : "Fiat 500", color : "white"},
            {model : "Volvo XC90", color : "black"}
        ];
    });
</script>
<body>

<div ng-app="App1" ng-controller="Ctrl1">

    <p><b>3. Select Boxes ng-repeat(Object):</b></p>
    <select ng-model="selectedCarNgReptObj">
        <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
    </select>
    <p>You selected value: {{selectedCarNgReptObj}}</p>
    <p>You selected Object value : {{selectedCarNgReptObj.model}}</p>
    <p>Its color is: {{selectedCarNgReptObj.color}}</p>


    <p><b>4. Select Boxes ng-options(Object):</b></p>
    <select ng-model="selectedCarNgOpObj" ng-options="x.model for x in cars"></select>
    <p>You selected: {{selectedCarNgOpObj.model}}</p>
    <p>Its color is: {{selectedCarNgOpObj.color}}</p>

</div>

</body>
</html>