body {
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    background: #eee url("../images/common/main-back.png") repeat;
    padding-bottom:70px;
}

.navbar-default {
    background-color: #063954;
    background-image: none;
    border-bottom: solid 1px #fff;
    box-shadow:0 2px 1px #eaeaea;
    border-right:none;
    border-left:none;
    border-top:none;
    border-radius:0;
}

.navbar-brand {
    height: auto;
    padding: 5px 15px;
}

/*Login*/
.login-container {
    width: 583px;
    margin: 0 auto;
}
.widget-form-container .widget-head {
    background: #fbfbfb !important;
    color: #063954;
    padding: 10px 15px;
    font-size: 17px;
    height: 60px;
    line-height: 44px;
    text-transform: uppercase;
    font-family: Helvetica, "Arial, sans-serif";
}
.widget-box, .widget-form-container .widget-box {
    background-color: #f5f5f5!important;
    padding: 15px;
    border: 1px solid #eee;
}

.widget-body{
	background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 1px #eaeaea;
}

.widget-main{
	padding:30px;
}

.input-group{
	width:100%;
}

.form-control{
	border-radius:4px !important;
	height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 40px !important;
    border: 1px solid #ddd;
}
textarea.form-control{
	height: 100px !important;  line-height: 20px !important;
}
.space {
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 12px 0;
}
.widget-form-container .login-box .login-footer > div {
    padding: 9px 0 11px;
}

.login-layout .widget-box .widget-main{
    padding: 0px 20px 25px;
}
.widget-form-container .login-box .login-footer {
    border-top: 1px solid #cadbfb;
}
                
.login-layout label {
                font-weight:normal;
}
.form-left-input-group .input-group-addon {
    border-radius: 4px 0 0 4px ;
    height: 26px ;
    padding: 0 10px;
}
.login-footer a{
                padding-left:15px;
                font-size:12px;
}
.btn-login{
    background-color: #0c7cd5;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.btn-login:hover, .btn-login:focus{
                background-color:#33475b;
                color:#fff;
}

.signin-checkbox{
	margin-bottom:14px;
}

.widget-head{
	margin:0;
}

@media (min-width: 768px) {
    .filter-btn {
        margin-top: 22px;
    }
}

@media (max-width: 768px) {
    .filter-btn {
        margin-bottom: 15px;
    }
}

@media (max-width: 961px) {
    .primary-nav > li > a {
        padding: 15px 10px;
    }
}

.navbar-default .primary-nav > .active > a, .navbar-default .primary-nav > li > a:hover {
    border-bottom-color: #ee4c3d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: #69aa6f;
    background: none;
    text-decoration: none
}

.primary-nav > li {
    border-left: 1px solid #efefef;
}
footer.navbar{
	min-height:0;
	background-color:#3d556d;
	color:#7898b6;
}

footer p{
	margin-bottom:0;
	padding:10px 0;
}

.primary-nav > li > a {
    color: #333;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    webkit-transition: color 0.3s, box-shadow 0.3s;
    -moz-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
}

.wrapper {
    min-height: 100%;
    position: relative;
    margin-bottom: -30px;
}

.icon-btn {
    padding: 0px 4px;
    font-size: 12px;
}

.panel-default > .panel-heading {
    border-bottom: 1px dotted #c5af82;
    /* padding: 9px 15px; */
    background: #957b7b;
}
.panel-heading span{padding:0 !important;}
.panel-title {
    color: #fff;
    font-size: 15px;
}

.table th {
    background: #337ab7;
    color: #ffffff;
    font-weight: 400;
    border-color: #fff;
}

/*.table tr:first-child:hover {*/
    /*background: none;*/
/*}*/

.table-footer {
    background: #f8f8f8;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
    background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
    background: linear-gradient(top, #f8f8f8, #f2f2f2);
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    padding: 3px 5px 0 0;
}

.table .question-table {
    margin-bottom: 0;
    background-color: transparent;
}

.question-table > tbody > tr > td {
    border: none;
    padding: 0;
}

.bottom-margin-null {
    margin-bottom: 0;
}

.table-footer .pagination {
    margin: 0px;
}

.button-panel {
    padding: 15px 0 0 0;
}

.btn-primary {
    background: #D2527F;
    border-color: #993a5c;
}

.btn-primary:hover, .btn-primary.active, .btn-primary:active, .btn-primary:focus {
    background: #993a5c;
    border-color: #993a5c;
}

.btn-secondary {
    background: #EC644B;
    border-color: #c2523d;
    color: #fff;
}

.btn-secondary:hover {
    background: #c2523d;
    border-color: #c2523d;
    color: #fff;
}

.cancel {
    cursor: pointer;
}

.search-section {
    margin-bottom: 15px;
}

.search-section .form-group {
    display: inline-block;
}

.form-control.small-search {
    width: 350px;
}

.control-label {
    font-weight: 400;
    margin-bottom:0;
}

textarea {
    resize: vertical;
}

.fa-plus, .fa-times {
    cursor: pointer;
}

.options ul {
    padding-left: 0;
}

.form-group.required .control-label:after { 
	content:"* ";
	color: red; 
}

@media (min-width: 768px) {
    .filter-btn {
        margin-top: 22px;
    }
}

@media (max-width: 768px) {
    .filter-btn {
        margin-bottom: 15px;
    }
}

@media (max-width: 961px) {
    .primary-nav > li > a {
        padding: 15px 10px;
    }
}

.options {
    position: relative;
    display: inline-block;
}

.options-content {
    display: none;
    position: absolute;
    background-color: rgb(222, 222, 222);
    min-width: 160px;
    padding: 12px 16px;
}
li:empty {   display: none; }

.options:hover .options-content {
    display: block;
}
.options-content
{
    z-index: 999;
	
}
.options-content ul{
	padding-left: 20px;

	}
.menudropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainmenu:hover .menudropbtn {
    background-color: red;
}


.mainmenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.mainmenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
a:active {
    background-color: red;
} 
.mainmenu-content a:hover {background-color: #f1f1f1}

.mainmenu:hover .mainmenu-content {
    display: block;
}

/*New CSS*/


	
.navbar-brand{
	padding:10px 15px !important;
	}
	
.navbar-default .navbar-nav > li > a.profiletoggle {
    color: #fff;
    background:none !important;
}

ul.nav.navbar-nav.navbar-right.navigation li a{
	color:#FFFFFF;
	background: transparent;
	}
	
.navigation{
	margin-right:0px;
	}
	
.navigation .line{
	margin-left:10px;
	}
	
.dropdown-menu{
	background-color: #0a2737;
	}
	
.dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0667D6;
}


	
.navbar-fixed-bottom {
    background: #575757;
    min-height: 30px !important;
    border: none;
}

.copyright{
	font-size: 13px;
    color: #acacac;
    line-height: 30px;
	margin:0;
	}
	
.navigation li a {
    padding: 7px 5px;
}

.nav > li.profileText {
    padding: 15px 0 0 0;
}
	
.navigation .home {
    border-right: solid 1px #186562;
    height: 72px;
    padding: 17px 10px 0px 10px;
    background: #03283C;
    cursor:pointer;
}

.navigation .about{
	height: 72px;
    padding: 17px 10px 0px 10px;
    background: #03283C;
    margin-right:10px;
    cursor:pointer;
}
.navigation .about:hover, .navigation .home:hover
{ background:#0667D6;}

.navigation .active{background:#0667D6;}

.navigation .home label, .navigation .about label{
	cursor:pointer;
	font-weight:normal;
}

.avatar {
    width: 58px;
    height: 58px;
    display: block;
    background: #0a2737;
	border-radius:50px;
	/* border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px; */
	-moz-border-radius: 50px;
 -webkit-border-radius: 50px;
 border:solid 3px #ddd;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 22px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-right: 0px;
}

.dropdown-menu > li > a{
	padding:3px 20px !important;
	}
	
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  Admin section CSS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.admintop{ margin-bottom:0;}
.adminContent h1{ font-size:20px; margin-top:10px;}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 999999;
    position: fixed;
    left: 250px;
    width: 0;
    height: 86.5%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #e2cdcd;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	border-right: 2px solid #fff;
    /* box-shadow: 2px 2px 2px #eaeaea; */
    top:60px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 237px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 237px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidenav-panel{ position:relative; z-index:999999;}
.sidenav-panel a span{
    width:27px;
    height:33px;
    position: absolute;
    top:259px;
	left:0;
    background: #feab03;
    padding:9px 7px;
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    border-right: 1px solid #ddd;
     border-bottom: 1px solid #ddd;
}
.toggled .sidenav-panel a span{ 
	left:16px;
	width:25px;
	}
	
 .toggled  #page-content-wrapper {
        padding:10px 8px 0 21px;
		
    }
.sidenav-panel a span .fa-chevron-left {
	    color: #fff !important;
    font-size: 16px;
    }
    
 /* .commonheader .icon-btn i, .commonheader .btn i{ display : block;} */
.commonheader .sidenav-panel i{ display : none;} 
 .commonheader .sidenav-panel .fa-chevron-left{ display: block;}
 .commonheader.toggled .sidenav-panel  .fa-chevron-right{ display: block;}
 .commonheader.toggled .sidenav-panel  .fa-chevron-left{ display: none;}
  
.sidenav-panel a span .fa-chevron-right{
    content: "\f057";
	    color: #fff;
    font-size: 16px;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
	border-bottom: solid 1px #186562;
	font-size: 1em;
    text-transform: uppercase;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color:#063954;
    background:#fff;
	}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav li a.active{background:#fff;  color:#000;}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    
    #login-wrapper{
		padding-left:0 !important;    
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width:237px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding:10px 8px 0 9px;
        position: relative;
		
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

}

.commonheader{ padding-right:0;}

@media(max-width:768px) {
#menu-toggle span{ left:0;}
.adminHeading h1{ font-size:20px; font-weight:normal; padding:0 50px;}
}
.tablebg{ background:#fff;}
.adminHeading{ padding:0; display:inline-block;}
.adminHeading h1{ font-size:20px; font-weight:normal; padding:0 103px;}

.table-content{
	margin:0 !important;
	}
	
.sidebar-nav label{
	font-weight:normal;
	margin-bottom:0;
	cursor:pointer;
	}
	
.button-panel{
	padding:0 !important;
}

.ui-widget-header{
	text-shadow:none;
	font-weight:normal;
	background:transparent;
	border:0;
}

.ui-datatable .ui-datatable-header{
	text-align:left !important;
}

.ui-inputfield{
	box-shadow:none !important;	
	margin-left:10px;
}

.ui-outputpanel.ui-widget{
	width:100%;
	float:left;
	background: #f1f1f1;
	padding: 0 10px;
}

.ui-paginator{
	float:right !important;
	margin:-52px 0 0 0;
	padding:0 !important;
	padding: 0 14px;
}

.ui-state-default{
	font-weight:normal !important;
	text-shadow:none !important;
	box-shadow:none !important;
	margin:10px;
}

.ui-datatable .ui-datatable-header{
	padding:0 !important;
}

/*Common Scroll*/

.commonscroll{ padding: 15px;
max-height: 409px;
overflow: hidden;
overflow-y: auto;}

.formscroll{
	padding: 15px;
	max-height: 732px;
	min-height: 732px;
	overflow: hidden;
	overflow-y: auto;
}

.selectdropdown{
	width:150px;
}

.home-row{
	margin-right:0 !important;
}

.icon-btn.edit{
	background:#337ab7;
	color:#fff;
	margin-left:2px;
}

.icon-btn.edit:hover{
	background:#063954;
}

.icon-btn.delete{
	color:#fff;
}

.ui-datatable thead th{
	text-align:left;
}

.footer-row{
	margin-bottom:0 !important;
}

.footer-row .btn-success.save{
	margin-right:5px;
}

.dropdown-menu li a {
    display: block;
    padding: 3px 20px !important;
    clear: both;
    font-weight: 400;
    line-height: 1.42;
    white-space: nowrap;
}

.dropdown-menu li a:hover{
	color:#fff !important;
	text-decoration:none;
	background-color:#0667D6 !important;
}

.add-question-btn, .excel-btn{
	margin-bottom:0 !important;
	padding-top:30px;
}

.add-question-btn .btn-success, .excel-btn .btn-success{
	background:transparent;
	border:none;
	color:#257d25;
	padding:0;
	font-size:15px;
}

.add-question-btn .fa.fa-plus-circle, .excel-btn .fa.fa-file-excel-o {
    float: left;
    margin-top: 0px;
    margin-right: 8px;
    color:#257d25;
    font-size:20px;
}

.add-question-btn .fa.fa-plus-circle{
	margin-top:3px !important;
}

.fa-times-circle, .fa-plus-circle {
    cursor:pointer;
    font-size:18px !important;
}

.question-heading{
	background:#f1f1f1 !important;
}

.cust-col{
	width:20%;
	float:left;
	margin-right:12px;
}

.cust-col-btn{
	width:18%;
	float:left;
}

.formupload-common{
	width:84%;
}

.formupload-common .form-upload{
	float:right;
	padding-top:20px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Evaluation CSS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.questionPanel {
    width: 100%;
    height: auto;
    background: #fff;
    border: solid 1px #f1f1f1;
}
.panel {
    background: #fcfcfc;
    box-shadow: 0 2px 1px #eaeaea;
}
.questions {
    display: table-row;
}
.questionAttented {
    height: 29px;
    width: 40px;
    background: #B4BBBF;
    text-align: center;
    font-size: 17px;
    color: #fff;
    margin-right: 5px;
    display: table-cell;
    line-height: 29px;
    vertical-align: middle;
    padding:10px;
}
.question {
    background: #ececec;
    width: 100%;
}

.questionNo, .question {
    display: table-cell;
}

.question p {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
}

.sub-question{
	padding: 10px;
    background: #fff;
    margin-top: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #333;
}

.answer-block {
    border: 1px solid #ccc;
    margin-top: 10px;
    background: #fff;
}

.answer-block h4 {
    font-size: 14px;
    background: #6394CC;
    margin: 0;
    padding: 10px;
    color: #fff;
}

.answer-block p{
	padding:10px;
}

.commonscroll-evaluation{
	max-height: 434px !important;
}

.answer-block .fa-check, .answer-block .fa-times {
    padding-right: 5px;
}

span.correct {
    background: #13AD13;
    color: #fff;
    padding: 2px 21px;
}

span.wrong {
    background: rgba(202, 3, 3, 0.9);
    color: #fff;
    padding: 2px 25px;
}

.status-section{
	padding:10px;
}

.answer-btn{
	padding:0px;
}

.answer-btn li{
	list-style-type:none;
}

.correct-btn{
	color:#13AD13;
}

.partial-btn{
	color:#feab03;
}

.wrong-btn{
	color:rgba(202, 3, 3, 0.9);
}
.fa-pencil, .fa-trash {
    content: "\f040";
    margin-top:4px;
}

.select-paper{
	width: 180px;
    margin-top: 10px;
    border: 1px solid #a8a8a8;
    height: 31px !important;
    padding: 0;
    color: #A7A4A4!important;
    font-size: 15px !important;
}

.select-label{
	float: left;
    padding-right: 10px;
    padding-top: 4px;
    font-weight: normal;
}

.select-paper-evaluation{
	padding:0 !important;
}

.select-paper-evaluation .form-group{
	margin-bottom:0 !important;
}

.list-btn{
	padding: 3px 4px;
}

.fa-list-alt {
    margin-right: 3px;
}

.questionsection {
    background: #f9f9f9;
}

.choose-file{
    padding:0 0 10px 7px;
}

.excel-template{
	padding-left:5px;
}

.excel-download .fa-download {
    color: #337ab7;
}

i.fa.fa-upload {
    color: #337ab7;
    padding-right: 5px;
}

fieldset{
	background:#fff;
}

legend{
	background: #97A9AF;
    padding: 10px 13px;
    margin-bottom:0;
    font-size:15px;
    line-height:1.1;
    color:#fff;
    font-weight: 500;
}

.adduser-papers h4, .adduser-topics h4{
	background: rgba(245, 245, 245, 0.45);
    padding: 10px;
    margin: 0px 0 5px;
    font-size:14px;
}

.adduser-papers label, .adduser-topics label{
	font-weight:normal;
	font-size: 13px;
}

.ui-icon-check {
    background-position: -65px -145px;
}

.answer-row {
    margin-bottom: 10px;
}

.papers h4{
	font-size: 14px;
    padding-left: 12px;
}

.papers label{
	font-weight: normal;
    font-size: 14px;
}
.alert{
	padding: 0px;
	border-radius: 0px;
}
.error-red{
	color:red;
}
.custom-select{
	display: inline-block;
	max-width: 100%;
	padding: .375rem 1.75rem .375rem .75rem;
	line-height: 1.25;
	color: #464a4c;
	vertical-align: middle;
	background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
	    background-size: auto auto;
	-webkit-background-size: 8px 10px;
	background-size: 8px 10px;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	-moz-appearance: none;
	-webkit-appearance: none;
	
}
.custom-file {
    display: inline-block;
    max-width: 100%;
    height: 2.5rem;
    margin-bottom: 0;
    cursor: pointer;
}
.custom-file-input {
    min-width: 30rem;
    max-width: 100%;
    height: 2.5rem;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}
.custom-file-control {
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    z-index: 5;
    height: 3.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #464a4c;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.custom-file-control::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 6;
    display: block;
    height: 3.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #464a4c;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 .25rem .25rem 0;
}
.custom-file-control::before {
    content: "Browse";
}
.custom-file-control::after {
    content: "Choose file...";
}
.custom-padzero{
	padding:0;
}
.custom-panel-pad{
	padding:25px 70px 25px 70px;
}

.custom-clear{
	clear:both;
}
.form-div{
	border:1px solid;
	padding:10px;
}
.form-submit{
	text-align:center;
	padding:15px;
}
@media (max-width: 768px) {
	.clear-float{
	float:none !important;
}
}
