
.navbar-inverse {
    background-color: #e2cdcd !important;
}

/* a {
    color: #044073 !important;
} */

.navbar-fixed-bottom {
    background: #e2cdcd !important;
}
#sidebar-wrapper {
    height: 86.5% !important;
    overflow-x: hidden !important;
    background: #957b7b  !important;
    top:60px !important;
}

.copyright {
    color: #ea0b0b !important;
}

.sidenav-panel a span {
	left:0px !important;
}

.sidebar-nav li a{
	color: #e9e9e9 !important;
}
