<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
	<!-- <script src="factory_01.js"></script> -->
	<!--<script src="service_01.js"></script>-->
	<script src="provider_01.js"></script>
</head>
<body>
	<div ng-app="app">
		<div ng-controller="sumctrl">
		a=<input type="text" name="" ng-model="a">
		a=<input type="text" name="" ng-model="b">
		<button ng-click="doSum()">Calucalate Sum</button>
		sum={{sum}}
		</div>
	</div>
</body>
</html>